body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #fdfdfd;
  color: #333;
}
.logo {
  height: 80px;
}
header, main {
  text-align: center;
}
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.producto {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}
.producto img {
  width: 100%;
  height: auto;
}
button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #008f39;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
